NODE\_ENV=development
LOG\_LEVEL=info

TELEGRAM\_BOT\_TOKEN=
TELEGRAM\_TOKEN=
TELEGRAM\_ALLOWED\_USER\_IDS=123456789
TELEGRAM\_BOT\_UI\_ONLY=true

INDODAX\_PUBLIC\_BASE\_URL=https://indodax.com
INDODAX\_PRIVATE\_BASE\_URL=https://indodax.com

HTTP\_TIMEOUT\_MS=10000
STATE\_FLUSH\_INTERVAL\_MS=5000

DATA\_DIR=./data
LOG\_DIR=./logs

DRY\_RUN=false
PAPER\_TRADE=false

MAX\_POSITION\_SIZE\_IDR=250000
MAX\_ACTIVE\_POSITIONS=5
PAIR\_COOLDOWN\_MINUTES=20
MAX\_SPREAD\_PCT=0.8
MAX\_SLIPPAGE\_PCT=1.0
